.ui-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 $gap 0 $gap;
  border: 1px solid $dark-color;
  color: $dark-color;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  background-color: transparent;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: $border-radius;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  transition-timing-function: $cubic;
  text-transform: uppercase;
  &_brand {
    color: $text-color;
    border-color: $brand-color;
    background-color: $light-color;
    @include on-event {
      background-color: $brand-color;
      color: $light-color;
    }
  }
  &_light {
    color: $light-color;
    border-color: $light-color;
  }
  &_dark {
    color: $dark-color;
    border-color: $dark-color;
  }
  &_fill.ui-button_brand {
    background-color: $brand-color;
    color: $light-color;
    &:hover {
      background-color: $brand-lighten-color-1;
    }
    &:disabled {
      background-color: $brand-lighten-color-2;
      border-color: $brand-lighten-color-2;
    }

  }
  &_fill.ui-button_light {
    background-color: $light-color;
    color: $dark-color;
  }
  &_fill.ui-button_dark {
    background-color: $dark-color;
    color: $light-color;
  }
  &_fab {
    width: 40px;
    border-radius: 100%;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_flat {
    border: none;
    width: auto;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    text-transform: none;
  }
}
