.ui-link {
  position: relative;
  text-decoration: none;
  color: $dark-color;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $dark-color;
    transition: width 0.3s $cubic;
  }

  @include on-event {
    &::after {
      width: 100%;
    }
  }

  &_brand {
    color: $brand-color;
    &::after {
      background-color: $brand-color;
    }
  }
  &_light {
    color: $light-color;
    &::after {
      background-color: $light-color;
    }
  }
  &_dark {
    color: $dark-color;
    &::after {
      background-color: $dark-color;
    }
  }
  &_active {
    &::after {
      width: 100%;
    }
  }
}
